# Simple Python Demo Program

name = input("Enter your name: ")
age = int(input("Enter your age: "))

print("\nHello", name)
print("You are", age,(10) "years old.")
print("You are", age,(20) "years old.")
print("You are", age,(30) "years old.")
print("You are", age,(40) "years old.")
print("You are", age,(50) "years old.")
print("You are", age,(60) "years old.")


if age >= 10:
    print("You are an adult.")
else:
    print("You are a minor.")
if age >= 20:
    print("You are an adult.")
else:
    print("You are a minor.")
if age >= 30:
    print("You are an adult.")
else:
    print("You are a minor.")